@mixin bebas
{
    font-family: bebas-neue-pro-expanded,sans-serif;
}
@mixin acumin
{
    font-family: acumin-pro, sans-serif;
}
@mixin sans
{
    font-family: open-sans, sans-serif;
}
@mixin karla
{
    font-family: mentone, sans-serif;
}

@mixin largeHeading
{
    text-transform: uppercase;
    @include bebas;
    font-weight: 600;
    font-size: 56px;
}