$colorRed: #C9121C;
$colorBlue: #0D2647;
$colorDarkGrey: #333333;

$colorBlueSecondary: #183B56;
$colorRedSecondary: #D52A28;
$colorBlueFaded: #5A7184;

$placeholder: #AAAAAA;

$gradientRedBlue: linear-gradient(90deg, $colorRed, $colorRed, $colorBlue);