@import "./variables";
@import "./mixins";

.courses_and_nav
{
    .section_wrapper
    {
        
        padding-top: $sectionTopMargin;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 830px)
        {
            .catagories
            {
                display: none;
            }
            .courses
            {
                width: 100%!important;
                max-width: unset!important;
            }
        }
        .catagories
        {
            .active
            {
                >a
                {
                    background-color: rgb(245, 245, 245);
                }
            }
            max-width: 34%;
            @media screen and (max-width: 1110px)
            {
                max-width: unset;
                padding-right: 28px;
            }
            flex-grow: 1;
            .nav_list
            {
                .list
                {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    @media screen and (max-width: 3550px) and (min-wdth: 1921px)
                    {
                        width: 70%;
                        li
                        {
                            a
                            {
                                font-size: 24px!important;
                            }
                        }
                    }
                    *
                    {
                        color: #606060;
                    }
                    >li
                    {
                        border-bottom: 1px solid #606060;
                        display: flex;
                        flex-direction: column;
                        >a
                        {
                            @include sans;
                            font-size: 16px;
                            font-weight: 600;
                            padding: 16px 0px;
                            
                            text-decoration: none;
                            display: flex;
                            justify-content: space-between;
                            transition: all ease .2s;
                            &:hover
                            {
                                margin-left: 8px;
                            }
                            i
                            {
                                margin-right: 12px;
                                height: 22px;
                                width: 22px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &:hover
                                {
                                    background-color: #75757534;
                                    border-radius: 50%;
                                }
                            }
                        }
                        ul
                        {
                            list-style-type: none;
                            margin-left: 30px;
                            display: none;
                            flex-direction: column;
                            li
                            {
                                a
                                {
                                    text-decoration: none;
                                    font-size: 16px;
                                    @include sans;
                                    font-weight: 600;
                                    display: block;
                                    padding: 15px 0px;
                                    transition: all ease .2s;
                                    &:hover
                                    {
                                        margin-left: 6px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .courses
        {
            width: 100% - 34%;
            max-width: 100% - 34%;
            display: flex;
            flex-direction: column;
            align-items: center;

            flex-grow: 1;
            .courses_grid
            {
                .grid_container
                {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 22px;
                    .course
                    {
                        
                        text-decoration: none;
                        padding: 22px;
                        margin-bottom: 28px;
                        width: 28%;
                        .thumbnail
                        {
                            img
                            {
                                width: 100%;
                                object-fit: contain;
                                object-position: center
                            }
                        }
                        .title
                        {
                            @include acumin;
                            font-size: 22px;
                            color: $colorBlueSecondary;
                            line-height: 1.4;
                            padding: 8px 0px;
                            &:hover
                            {
                                text-decoration: underline;
                            }
                        }
                        .price
                        {
                            color: $colorRedSecondary;
                            font-size: 16px;
                            font-weight: 600;
                            @include acumin;
                            line-height: 1.5;
                        }
                        .catagory
                        {
                            @include sans;
                            font-size: 12px;
                            color: $colorBlueSecondary;
                            line-height: 2;
                            
                        }
                        .options
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 12px;
                            button
                            {
                                font-size: 16px;
                                @include acumin;
                                font-weight: 600;
                                padding: 10px 22px;
                                margin-right: 12px;
                            }
                            .heart
                            {
                                color: #959EAD;
                                font-size: 24px;
                                &:hover
                                {
                                    color: $colorRedSecondary;
                                }
                            }
                        }
                        @media screen and (max-width: 1230px)
                        {
                            &
                            {
                                width: 31%;
                            }
                            .title
                            {
                                font-size: 18px;
                            }
                            .price
                            {
                                font-size: 14px;
                            }
                            .catagory
                            {
                                font-size: 10px;
                            }
                            .options
                            {
                                button
                                {
                                    font-size: 14px;
                                }
                                .heart
                                {

                                }
                            }
                        }
                        @media screen and (max-width: 1110px)
                        {
                            &
                            {
                                width: 48%;
                            }
                            .title
                            {
                                font-size: 22px;
                            }
                            .price
                            {
                                font-size: 16px;
                            }
                            .catagory
                            {
                                font-size: 12px;
                            }
                            .options
                            {
                                button
                                {
                                    font-size: 14px;
                                }
                                .heart
                                {

                                }
                            }
                        }
                        @media screen and (max-width: 830px)
                        {
                            &
                            {
                                width: 46%;
                            }
                        }
                        @media screen and (max-width: 575px)
                        {
                            &
                            {
                                width: 350px;
                            }
                        }
                    }
                    @media screen and (max-width: 575px)
                    {
                        &
                        {
                            justify-content: center;
                        }
                    }
                }
                >button
                {
                    font-size: 22px;
                    @include acumin;
                    font-weight: 600px;
                    color: white;
                    width: 100%;
                    padding: 26px;
                    border-radius: 8px;
                }
            }

        }
        .head
        {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;
            padding-bottom: 28px;
            >i
            {
                display: none;
                position: absolute;
                left: 34px;
                top: 7px;
                font-size: 28px;
                cursor: pointer;
                color: $colorBlue;
                &:hover
                {
                    color: $colorBlueFaded;
                }
            }
            @media screen and (max-width: 992px)
            {
                &
                {
                    flex-direction: column;
                    align-items: center;
                    .options
                    {
                        width: 100%;
                        justify-content: center;
                        
                    }
                    .title
                    {
                        padding-bottom: 28px;
                    }
                }
            }
            @media screen and (max-width: 830px)
            {
                &
                {
                    .options
                    {

                        justify-content: space-between;
                    }
                }
            }
            .title
            {
                font-size: 36px;
                font-weight: 600;
                @include bebas;
                color: $colorBlue;
            }
            .options
            {
                display: flex;
                align-items: center;
                .right
                        {
                            display: flex;
                            align-items: center;
                            select:first-child
                            {
                                margin-right: 12px;
                            }
                        }
                >*
                {
                    margin-right: 8px;
                    @include karla;
                    font-size: 14px;
                }
                select
                {
                    width: 99px;
                    cursor: pointer;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    padding: 8px 6px;
                }
                .course_items
                {
                    margin-left: 24px;
                    color: #757575;
                }
                .button_menu
                {
                    height: 42px;
                    width: 42px;
                    font-size: 20px;
                    display: none;
                    @media screen and (max-width: 830px)
                    {
                        display: block;
                    }
                }
            }
        }
        .nav_small_screen
        {
            padding-top: 22px;
            display: flex;
            flex-direction: column;
            position: fixed;
            background-color: white;
            top: 0px;
            left: 0px;
            bottom: 0;
            min-height: 100vh;
            padding-right: 0px;
            padding-right: 4px;
            box-shadow: 5px 0px 7px #00000042;
            z-index: 100;
            .head
            {
                >i
                {
                    display: block;
                }
            }
            .nav_list
            {
                overflow-y: auto;
                padding-left: 32px;
                &::-webkit-scrollbar 
                {
                    width: 8px;
                }
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px grey; 
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb {
                    background: $colorBlue; 
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: $colorBlueFaded; 
                }

            }
        }
    }
}