@import "./variables";
@import "./mixins";
.home_slider
{
    height: 524px;
}
.courses
{
    .courses_type
    {
        margin-top: $sectionTopMargin;
        .buttons
        {
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
            
            .button
            {
                
                cursor: pointer;
                border: 1px solid $colorBlue;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                padding: 20px 30px;
                width: 24%;
                &:last-child
                {
                    margin-right: 0;
                }

                &:hover
                {
                    background-color: $colorBlue;
                    a
                    {
                        .label
                        {
                            color: white;
                        }
                        .icon
                        {
                            img
                            {
                                &:last-child
                                {
                                    display: block;
                                }
                                &:first-child
                                {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                a
                {
                    font-family: bebas-neue-pro-expanded, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon
                    {
                        margin-right: 22px;
                        height: 48px;
                        width: 48px;
                        img
                        {
                            max-height: 100%;
                            &:last-child
                            {
                                display: none;
                            }
                        }
                    }
                    .label
                    {
                        word-spacing: 1000px;
                        margin: auto;
                        color: $colorBlue;
                    }
                }
            }
            @media screen and (max-width: 1098px)
            {
                .button
                {
                    font-size: 26px;
                    .icon
                    {
                        height: 40px;
                        width : 40px;
                    }
                }
            }
            @media screen and (max-width: 991px)
            {
                .button
                {
                    font-size: 24px;
                    .icon
                    {
                        height: 40px;
                        width : 40px;
                    }
                }
            }
            @media screen and (max-width: 888px) {
                .button
                {
                    width: 48%;
                    margin-bottom: 22px;
                }

            }
            @media screen and (max-width: 575.98px)
            {
                &
                {
                    flex-flow: column nowrap;
                    .button
                    {
                        width: 100%;
                    }
                }
            }
            
        }
        @media screen and (max-width: 888px) {
            .buttons
            {
                flex-wrap: wrap;
            }
        }
        margin-top: 100px;
        .course
        {
            display: flex;
            background-color: #f7f8fa;
            padding: 32px;
            >.thumbnail
            {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                img
                {
                    max-height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            >.details
            {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                padding-bottom: 23px;
                width: 60%;
                .heading
                {
                    @include bebas;
                    color: $colorBlue;
                    font-size: 56px;
                    margin-top: -56px;
                }
                .text
                {
                    font-size: 16px;
                    font-family: acumin-pro, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    color: $colorBlueSecondary;
                    line-height: 32px;
                    
                }
                button
                {
                    @include sans;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 15px;
                    width: 169px;
                }
            }
            @media screen and (max-width: 888px)
            {
                >.thumbnail, >.details
                {
                    width: 100%;
                }
                >.thumbnail
                {
                    margin-bottom: 12px;
                }
                >.details
                {
                    align-items: center;
                    padding-bottom: 0;
                    .heading
                    {
                        margin: 0;
                        text-align: center;
                    }
                    .text
                    {
                        padding: 32px 0px;
                        text-align: center;
                    }
                }
                &
                {
                    flex-wrap: wrap;
                }
            }

        }
    }
}

.courses_grid
{
    .section_wrapper
    {
        margin-top: $sectionTopMargin;
        .course_cards_container
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .course_item
            {
                display: flex;
                padding: 12px 14px;
                margin-bottom: 32px;
                width: 31.9%;

                .thumbnail
                {
                    max-width: 50%;
                    img
                    {
                        width: 100%;
                        object-fit: contain;object-position: center;
                    }
                }
                .details
                {
                    max-width: 50%;
                    padding: 14px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    .title
                    {
                        color: $colorBlueSecondary;
                        @include acumin;
                        font-size: 22px;
                        font-weight: 600;
                        text-decoration: none;
                        &:hover
                        {
                            text-decoration: underline;
                        }
                    }
                    .catagory
                    {
                        font-size: 16px;
                        @include sans;
                        font-weight: 400;
                        font-style: normal;
                    }
                    .price
                    {
                        color: $colorRedSecondary;
                        font-size: 20px;
                        @include acumin;
                        
                    }
                    .options
                    {
                        display: flex;
                        align-items: center;
                        .add_to_card
                        {
                            @include acumin;
                            font-weight: 600;
                            font-style: normal;
                            font-size: 14px;
                            padding: 9.5px 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 18px;
                        }
                        .heart
                        {
                            font-size: 20px;
                            cursor: pointer;
                            color: #959EAD;
                            &:hover
                            {
                                color: $colorRed;
                            }
                        }
                    }
                }
            }
        }
    }
}