@import "./variables";
@import "./mixins";
.home_slider
{
    height: 524px;
}
.courses
{
    .courses_type
    {
        margin-top: $sectionTopMargin;
        .buttons
        {
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
            
            .button
            {
                
                cursor: pointer;
                border: 1px solid $colorBlue;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                padding: 20px 30px;
                width: 24%;
                &:last-child
                {
                    margin-right: 0;
                }

                &:hover
                {
                    background-color: $colorBlue;
                    a
                    {
                        .label
                        {
                            color: white;
                        }
                        .icon
                        {
                            img
                            {
                                &:last-child
                                {
                                    display: block;
                                }
                                &:first-child
                                {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                a
                {
                    font-family: bebas-neue-pro-expanded, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon
                    {
                        margin-right: 22px;
                        height: 48px;
                        width: 48px;
                        img
                        {
                            max-height: 100%;
                            &:last-child
                            {
                                display: none;
                            }
                        }
                    }
                    .label
                    {
                        word-spacing: 1000px;
                        margin: auto;
                        color: $colorBlue;
                    }
                }
            }
            @media screen and (max-width: 1098px)
            {
                .button
                {
                    font-size: 26px;
                    .icon
                    {
                        height: 40px;
                        width : 40px;
                    }
                }
            }
            @media screen and (max-width: 991px)
            {
                .button
                {
                    font-size: 24px;
                    .icon
                    {
                        height: 40px;
                        width : 40px;
                    }
                }
            }
            @media screen and (max-width: 888px) {
                .button
                {
                    width: 48%;
                    margin-bottom: 22px;
                }

            }
            @media screen and (max-width: 575.98px)
            {
                &
                {
                    flex-flow: column nowrap;
                    .button
                    {
                        width: 100%;
                    }
                }
            }
            
        }
        @media screen and (max-width: 888px) {
            .buttons
            {
                flex-wrap: wrap;
            }
        }
        margin-top: 100px;
        .course
        {
            display: flex;
            background-color: #f7f8fa;
            padding: 32px;
            >.thumbnail
            {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                img
                {
                    max-height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            >.details
            {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                padding-bottom: 23px;
                width: 60%;
                .heading
                {
                    @include bebas;
                    color: $colorBlue;
                    font-size: 56px;
                    margin-top: -56px;
                }
                .text
                {
                    font-size: 16px;
                    font-family: acumin-pro, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    color: $colorBlueSecondary;
                    line-height: 32px;
                    
                }
                button
                {
                    @include sans;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 15px;
                    width: 169px;
                }
            }
            @media screen and (max-width: 888px)
            {
                >.thumbnail, >.details
                {
                    width: 100%;
                }
                >.thumbnail
                {
                    margin-bottom: 12px;
                }
                >.details
                {
                    align-items: center;
                    padding-bottom: 0;
                    .heading
                    {
                        margin: 0;
                        text-align: center;
                    }
                    .text
                    {
                        padding: 32px 0px;
                        text-align: center;
                    }
                }
                &
                {
                    flex-wrap: wrap;
                }
            }

        }
    }
}

.courses_grid
{
    .section_wrapper
    {
        margin-top: $sectionTopMargin;
        display: flex;
        flex-direction: column;
        align-items: center;
        .course_cards_container
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .course_item
            {
                display: flex;
                padding: 12px 14px;
                margin-bottom: 32px;
                width: 31.9%;
                @media screen and (max-width: 994px)
                {
                    flex-flow: column nowrap;
                    &
                    {
                        .thumbnail, .details
                        {
                            max-width: unset!important;
                        }
                        .details
                        {
                            padding: 12px 0px!important;
                            >*
                            {
                                margin-bottom: 12px;
                            }
                            >*:last-child
                            {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                @media screen and (max-width: 650px)
                {
                    &
                    {
                        width: 100%;
                        .details
                        {
                            .title
                            {
                                font-size: 26px!important;
                            }
                            .catagory
                            {
                                font-size: 18px!important;
                            }
                            .price
                            {
                                font-size: 22px!important;
                            }
                            .options
                            {
                                button
                                {
                                    font-size: 18px!important;
                                    padding-left: 28px!important;
                                    padding-right: 28px!important;
                                }
                                .heart
                                {
                                    margin: 0!important;
                                }
                            }
                        }
                    }
                }
                .thumbnail
                {
                    max-width: 50%;
                    img
                    {
                        width: 100%;
                        object-fit: contain;object-position: center;
                    }
                }
                .details
                {
                    max-width: 50%;
                    padding: 14px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    @media screen and (max-width: 1092px)
                    {
                        &
                        {
                            padding: 0;
                            padding-left: 14px;
                        }
                    }
                    .title
                    {
                        color: $colorBlueSecondary;
                        @include acumin;
                        font-size: 22px;
                        font-weight: 600;
                        text-decoration: none;
                        &:hover
                        {
                            text-decoration: underline;
                        }
                    }
                    .catagory
                    {
                        font-size: 16px;
                        @include sans;
                        font-weight: 400;
                        font-style: normal;
                    }
                    .price
                    {
                        color: $colorRedSecondary;
                        font-size: 20px;
                        @include acumin;
                        
                    }
                    .options
                    {
                        display: flex;
                        align-items: center;
                        @media screen and (max-width: 1151px)
                        {
                            flex-wrap: wrap-reverse;
                            & .heart
                            {
                                margin-bottom: 8px;
                            }
                        }
                        .add_to_card
                        {
                            @include acumin;
                            font-weight: 600;
                            font-style: normal;
                            font-size: 14px;
                            padding: 9.5px 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 18px;
                        }
                        .heart
                        {
                            font-size: 20px;
                            cursor: pointer;
                            color: #959EAD;
                            &:hover
                            {
                                color: $colorRed;
                            }
                        }
                    }
                }
            }
        }
        >.course_catalog
        {
            font-size: 22px;
            @include acumin;
            font-weight: 600;
            width: 34%;
            padding: 25px 0px;
            margin-top: 48px;
            @media screen and (max-width: 992px)
           {
                &
                {
                    width: 300px;
                }
           }
           @media screen and (max-width: 767px)
           {
                width: 100%;
           }
        }
    }
}

.our_story
{
    .section_wrapper
    {
        width: 88%!important;
        margin-top: $sectionTopMargin;
        .top
        {
            display: flex;
            flex-direction: row nowrap;
            align-items: center;
            margin-bottom: 48px;
            @media screen and (max-width: 768px)
            {
                &
                {
                    flex-direction: column;
                    .title
                    {
                        min-width: unset!important;
                        margin-bottom: 22px;
                        text-align: center;
                    }
                    .details
                    {
                        text-align: center
                    }

                }
            }
            .title
            {
                @include bebas;
                font-size: 56px;
                font-weight: 600;
                color: $colorBlue;
                min-width: 400px;
                @media screen and(max-width: 992px)
                {
                    &
                    {
                        min-width: 300px;
                    }
                }
            }
            .details
            {
                line-height: 36px;
                @include acumin;
                font-size: 16px;
                color: $colorBlueSecondary;
            }
        }
        .bottom
        {
           .video
           {
            position: relative;
            img
            {
                width: 100%;
            }
            .video_icon
            {
                cursor: pointer;
                height: 100px;
                width: 100px;
                @media screen and (max-width: 768px)
                {
                    &
                    {
                        height: 64px;
                        width: 64px;
                        *
                        {
                            font-size: 20px!important;
                        }
                    }
                }
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                margin: auto;
                background-color: white;
                *
                {
                    color: #1565D8;
                    font-size: 34px;
                }
                &:hover
                {
                    background-color: $colorBlue;
                    *
                    {
                        color: white;
                    }
                }
            }
            
           }
            
        }
    }
}

.join_us
{
    background-color: $colorBlue;
    margin-top: $sectionTopMargin;
    .section_wrapper
    {
        padding: 48px 0px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px)
        {
            flex-direction: column;
            &
            {
                .left
                {
                    padding-right: 0 !important;
                    margin-bottom: 22px;
                    width: unset!important;
                }
                .right
                {
                    width: unset!important;
                }
            }
        }
        .left
        {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 32px;
            *
            {
                color: white;
                text-align: center;
            }
            .logo
            {
                width: 84px;
                img
                {
                    max-width: 100%;
                }
            }
            .text
            {
                @include acumin;
                font-size: 28px;
                span
                {
                    display: block;
                    font-size: 77px;
                    @include bebas;
                    font-weight: 600;
                    word-spacing: 1000rem;
                }
                @media screen and (max-width:992px)
                {
                    &
                    {
                        font-size: 24px;
                        span
                        {
                            font-size: 54px;
                        }
                    }
                }
            }
            .learn_more
            {
                font-size: 15px;
                padding: 17px 48px;
                width: 213px;
                margin-top: 22px;
            }
        }
        .right
        {
            width: 50%;
            display: flex;
            align-items: center;
            .thumbnail
            {
                img
                {
                    max-width: 100%;
                }
            }
        }
    }
}