// FONTS
@import url("https://use.typekit.net/ysi1wyh.css");

@import "./variables";
@import "./mixins";

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1;

}
.meta_data
{
    color: white;
    font-size: 40px;
    text-align: center;
}
section
{
    display: flex;
    justify-content: center;
    >.section_wrapper
    {
        width: 1600px;
    }
}

.blue_red_gradient
{
    background-image: $gradientRedBlue;
}

.search_container
{
    display: flex;
    justify-content: center;
    margin-top: -36px;
    *
    {
        font-family: open-sans, sans-serif;
    }
    .search_courses
    {
        position: relative;
        #searchCourse
        {
            font-size: 24px;
            ::placeholder
            {
                color: $placeholder;
            }
            padding: 19.5px 128px 19.5px 28px;
            background-color: #EAEAEA;
            border: none;
            outline: none;
            width: 654px;
            border-radius: 4px;
            font-weight: bold;
        }
        >button
        {
            font-size: 16px;
            font-weight: 600;
            border-radius: 4px;
            height: 72px;
            width: 100px;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
}
button
{
    cursor: pointer;
}
.button_radius
{
    border-radius: 4px;
}
.button_blue
{
    background-color: $colorBlue;
    color: white;
    border: none;
    outline: none;
}