.courses_and_nav .section_wrapper {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses_and_nav .section_wrapper .catagories {
  max-width: 34%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (max-width: 1110px) {
  .courses_and_nav .section_wrapper .catagories {
    max-width: unset;
    padding-right: 28px;
  }
}
.courses_and_nav .section_wrapper .catagories .nav_list .list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list * {
  color: #606060;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li {
  border-bottom: 1px solid #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li > a {
  font-family: open-sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li > a:hover {
  margin-left: 8px;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li > a i {
  margin-right: 12px;
  height: 22px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li > a i:hover {
  background-color: rgba(117, 117, 117, 0.2039215686);
  border-radius: 50%;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li ul {
  list-style-type: none;
  margin-left: 30px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: open-sans, sans-serif;
  font-weight: 600;
  display: block;
  padding: 15px 0px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.courses_and_nav .section_wrapper .catagories .nav_list .list > li ul li a:hover {
  margin-left: 6px;
}
.courses_and_nav .section_wrapper .courses {
  width: 66%;
  max-width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 22px;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course {
  text-decoration: none;
  padding: 22px;
  margin-bottom: 28px;
  width: 28%;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .thumbnail img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .title {
  font-family: acumin-pro, sans-serif;
  font-size: 22px;
  color: #183B56;
  line-height: 1.4;
  padding: 8px 0px;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .title:hover {
  text-decoration: underline;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .price {
  color: #D52A28;
  font-size: 16px;
  font-weight: 600;
  font-family: acumin-pro, sans-serif;
  line-height: 1.5;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .catagory {
  font-family: open-sans, sans-serif;
  font-size: 12px;
  color: #183B56;
  line-height: 2;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .options button {
  font-size: 16px;
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
  padding: 10px 22px;
  margin-right: 12px;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .options .heart {
  color: #959EAD;
  font-size: 24px;
}
.courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .options .heart:hover {
  color: #D52A28;
}
@media screen and (max-width: 1230px) {
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course {
    width: 31%;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .title {
    font-size: 18px;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .price {
    font-size: 14px;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .catagory {
    font-size: 10px;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .options button {
    font-size: 14px;
  }
}
@media screen and (max-width: 1110px) {
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course {
    width: 48%;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .title {
    font-size: 22px;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .price {
    font-size: 16px;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .catagory {
    font-size: 12px;
  }
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course .options button {
    font-size: 14px;
  }
}
@media screen and (max-width: 830px) {
  .courses_and_nav .section_wrapper .courses .courses_grid .grid_container .course {
    width: 100%;
  }
}
.courses_and_nav .section_wrapper .courses .courses_grid > button {
  font-size: 22px;
  font-family: acumin-pro, sans-serif;
  font-weight: 600px;
  color: white;
  width: 100%;
  padding: 26px;
  border-radius: 8px;
}
.courses_and_nav .section_wrapper .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 28px;
}
@media screen and (max-width: 992px) {
  .courses_and_nav .section_wrapper .head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .courses_and_nav .section_wrapper .head .options {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .courses_and_nav .section_wrapper .head .title {
    padding-bottom: 28px;
  }
}
.courses_and_nav .section_wrapper .head .title {
  font-size: 36px;
  font-weight: 600;
  font-family: bebas-neue-pro-expanded, sans-serif;
  color: #0D2647;
}
.courses_and_nav .section_wrapper .head .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses_and_nav .section_wrapper .head .options > * {
  margin-right: 8px;
  font-family: mentone, sans-serif;
  font-size: 14px;
}
.courses_and_nav .section_wrapper .head .options select {
  width: 99px;
  cursor: pointer;
}
.courses_and_nav .section_wrapper .head .options .course_items {
  margin-left: 24px;
  color: #757575;
}/*# sourceMappingURL=collection.css.map */