.contact_us {
  margin-top: 100px;
}
.contact_us .wrapper_secondary {
  color: #646464;
  width: 1235px;
}
.contact_us .wrapper_secondary .section_title {
  padding-bottom: 0px !important;
}
@media screen and (max-width: 815px) {
  .contact_us .wrapper_secondary .section_title {
    padding-top: 0px !important;
  }
}
.contact_us .wrapper_secondary .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact_us .wrapper_secondary .container .info {
  width: 400px;
  padding-right: 22px;
}
.contact_us .wrapper_secondary .container .info .line {
  width: 60px;
  border-top: 2px solid #D52A28;
  padding-bottom: 22px;
  margin-top: 22px;
}
.contact_us .wrapper_secondary .container .info > .text {
  padding-right: 40px;
  font-family: acumin-pro, sans-serif;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 28px;
}
.contact_us .wrapper_secondary .container .info .options * {
  font-family: acumin-pro, sans-serif;
  font-size: 16px;
}
.contact_us .wrapper_secondary .container .info .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}
.contact_us .wrapper_secondary .container .info .options .option .logo {
  border: 1px solid #D52A28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D52A28;
  width: 62px;
  height: 72px;
  margin: 2px 0px;
  margin-right: 26px;
}
.contact_us .wrapper_secondary .container .info .options .option .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact_us .wrapper_secondary .container .info .options .option .details .title {
  font-weight: 600;
  margin-bottom: 4px;
}
.contact_us .wrapper_secondary .container .form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 700px;
}
.contact_us .wrapper_secondary .container .form * {
  font-family: acumin-pro, sans-serif;
}
.contact_us .wrapper_secondary .container .form .text {
  font-weight: 600;
  margin-bottom: 28px;
}
.contact_us .wrapper_secondary .container .form form .form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact_us .wrapper_secondary .container .form form .form_group label {
  font-weight: 600;
  padding: 12px 0px;
}
.contact_us .wrapper_secondary .container .form form .form_group input, .contact_us .wrapper_secondary .container .form form .form_group textarea {
  font-size: 16px;
  padding: 16px;
  outline: none;
  border: 1px solid #c1c1c1;
}
@media screen and (max-width: 815px) {
  .contact_us .wrapper_secondary .container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .contact_us .wrapper_secondary .container .info, .contact_us .wrapper_secondary .container .form {
    width: 100%;
  }
  .contact_us .wrapper_secondary .container .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0px;
    margin-top: 32px;
  }
  .contact_us .wrapper_secondary .container .info .line {
    display: none;
  }
  .contact_us .wrapper_secondary .container .info .text {
    padding-right: 0;
  }
  .contact_us .wrapper_secondary .container .info .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact_us .wrapper_secondary .container .info .options .option {
    min-width: 280px;
  }
  .contact_us .wrapper_secondary .container .form {
    margin-top: 22px;
    max-width: unset;
  }
  .contact_us .wrapper_secondary .container .form .text {
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=contactus.css.map */