@import url("https://use.typekit.net/ysi1wyh.css");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

.meta_data {
  color: white;
  font-size: 40px;
  text-align: center;
}

body > .body_content > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 32px;
}
body > .body_content > section .section_wrapper .section_title {
  text-transform: uppercase;
  font-family: bebas-neue-pro-expanded, sans-serif;
  color: #0D2647;
  font-weight: 600;
  font-size: 36px;
  padding: 36px 0px;
}

.rotate {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.banner {
  background-image: -webkit-gradient(linear, left top, right top, from(#C9121C), color-stop(#C9121C), to(#0D2647));
  background-image: linear-gradient(90deg, #C9121C, #C9121C, #0D2647);
  padding-top: 48px !important;
  padding-bottom: 62px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .page_title {
  font-family: bebas-neue-pro-expanded, sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.blue_red_gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#C9121C), color-stop(#C9121C), to(#0D2647));
  background-image: linear-gradient(90deg, #C9121C, #C9121C, #0D2647);
}

.search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -36px;
}
.search_container * {
  font-family: open-sans, sans-serif;
}
.search_container .search_courses {
  position: relative;
}
.search_container .search_courses #searchCourse {
  font-size: 24px;
  padding: 19.5px 128px 19.5px 28px;
  background-color: #EAEAEA;
  border: none;
  outline: none;
  width: 654px;
  border-radius: 4px;
  font-weight: bold;
}
.search_container .search_courses #searchCourse ::-webkit-input-placeholder {
  color: #AAAAAA;
}
.search_container .search_courses #searchCourse ::-moz-placeholder {
  color: #AAAAAA;
}
.search_container .search_courses #searchCourse :-ms-input-placeholder {
  color: #AAAAAA;
}
.search_container .search_courses #searchCourse ::-ms-input-placeholder {
  color: #AAAAAA;
}
.search_container .search_courses #searchCourse ::placeholder {
  color: #AAAAAA;
}
@media screen and (max-width: 673px) {
  .search_container .search_courses {
    width: 100% !important;
  }
  .search_container .search_courses #searchCourse {
    width: 100% !important;
  }
}
.search_container .search_courses > button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  height: 72px;
  width: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
}

button {
  cursor: pointer;
}

.button_radius {
  border-radius: 4px;
}

.button_round {
  border-radius: 18px;
}

.button_blue {
  background-color: #0D2647;
  color: white;
  border: none;
  outline: none;
}

.button_red {
  background-color: #D52A28;
  color: white;
  border: none;
  outline: none;
}

.card {
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 2px 0px #959ead;
          box-shadow: 0px 0px 2px 0px #959ead;
}

.dotsSlick {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.dotsSlick li {
  margin-right: 8px;
}
.dotsSlick li:last-child {
  margin-right: 0;
}
.dotsSlick li button {
  background-color: #0D2647;
  color: #0D2647;
  max-width: 10px;
  max-width: 10px;
  height: 10px;
  width: 10px;
  overflow: hidden;
  border: none;
  outline: none;
}
.dotsSlick .slick-active button {
  background-color: #EF0000;
  color: #EF0000;
}

@media screen and (max-width: 3500px) {
  section .section_wrapper {
    width: 3000px;
  }
}
@media screen and (max-width: 3000px) {
  section .section_wrapper {
    width: 2700px;
  }
}
@media screen and (max-width: 2550px) {
  section .section_wrapper {
    width: 2100px;
  }
}
@media screen and (max-width: 1920px) {
  section .section_wrapper {
    width: 1600px;
  }
}
@media screen and (max-width: 1600px) {
  section .section_wrapper {
    width: 1300px;
  }
}
@media screen and (max-width: 1200px) {
  section .section_wrapper {
    width: 1070px;
  }
}
@media screen and (max-width: 1098px) {
  section .section_wrapper {
    width: 1000px;
  }
}
@media screen and (max-width: 992px) {
  section .section_wrapper {
    width: 850px;
  }
}
@media screen and (max-width: 767.98px) {
  section .section_wrapper {
    width: 650px;
  }
  .search_container .search_courses #searchCourse {
    width: 580px;
  }
}
@media screen and (max-width: 575.98px) {
  section .section_wrapper {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */